body {
  background-color: #a6b9d8;
  font-family: 'Roboto';
 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.song-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.img-circle2 {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.title {
  text-align: center;


  /* opacity: 0.09;  */
  font-family: 'Secular One', sans-serif;
  color:#dfeaea ;?.
 

}

.nav {
  text-align: center;
  color: black(10, 117, 239);
 
  
}
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App {

background:#a6b9d8;
height: 100vh;
}

.img {
  opacity: 0.05;
border-radius: 40%;
}

.font2 {
font-family: 'Secular One', sans-serif;
  color: #dfeaea;
  text-align: center;
  font-size: 30px
}

.font3 {

  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #070219;
  font-size: 40px;
}
.font4 {

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #15cdfc;
  font-size: 15px;


}
.font5 {

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #15cdfc;
  font-size: 140px;


}
.font6 {

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #3b4893;
  font-size: 20px;
  


}
.font7 {

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #23319b;
  font-size: 35px;


}
.font8 {

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #ecedf5;
  font-size: 20px;


}
.font9{

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #dee0e8;
  font-size: 20px;


}
.font10{

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #e5e7f1;
  font-size: 20px;


}
.font11{

  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #15cdfc;
  font-size: 30px;


}

.songz {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
 
 }

 
.imagez {  
display: block;  
margin-left: auto;  
margin-right: auto;  
border-radius: 40%;
padding: 5px; 
opacity: 0.02; 
width: 1000px;
height: 1000px;

}  
.songz2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left:400px;
 }
 .font1 {
  font-family: 'Secular One', sans-serif;
  color:#eaebf2 ; 
  font-size: 15px

 }
  .background-image {
  background-image: url("images/studio_pic.jpg"); 
  background-size: 1900px 1000px;
  background-repeat: no-repeat;
  width: 1440px;
  height: 100vh 
  }
.background-image2 {
background-image: url("images/vocalbooth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 100vh; 
  image-resolution: 10%;
}
.container {
position:relative;
text-align: center;
color:white

}
.withyou {
  display:block;
 margin-left:450px;
background-size:100px ; 
background-repeat: no-repeat;
  background-image: url("images/withyou.jpg");
 width:100px;
height:15vh
}

.oneday {
  display:block;
 margin-left:450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/oneday.jpg");
 width:100px;
height:15vh
}
.spin {
  display:block;
 margin-left:450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/spin.jpg");
 width:100px;
height:15vh
}
.moral {
  display:block;
 margin-left:450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/moral.jpg");
 width:100px;
height:15vh
}
.rips {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/rips.jpg");
 width:100px;
height:15vh
}
.private {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/privatehell.jpg");
 width:100px;
height:15vh
}
.goyour1 {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/goyour1.jpg");
 width:100px;
height:15vh
}
.goyour2 {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/goyour2.jpg");
 width:100px;
height:15vh
}

.scuba {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/scubaface.jpg");
 width:100px;
height:15vh
}
.sun {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/suninside.jpg");
 width:100px;
height:15vh
}
.human {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/Human.jpg");
 width:100px;
height:15vh
}
.humanback {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/humanback.jpg");
 width:100px;
height:15vh
}
.atomic {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/Atomic.jpg");
 width:100px;
height:15vh
}
.atomicback {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/atomicback.jpg");
 width:100px;
height:15vh
}
.fullforce {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/fullforce.jpg");
 width:100px;
height:15vh
}
.glamox {
  display:block;
 margin-left: 450px;
background-size:100px ;
background-repeat: no-repeat;
  background-image: url("images/glamox.jpg");
 width:100px;
height:15vh
}
.sth {
  display:block;
  margin-left: 450px;
 background-size:100px ;
 background-repeat: no-repeat;
   background-image: url("images/sth.jpg");
  width:100px;
 height:10vh
}
.sth-background {
 background-image: url("images/sth4.jpeg"); 
  
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 1000vh; 
  padding: 0.5rem calc((100vw - 1000px)/2);
  } 

  @media screen and (max-width: 1200px) {
    body {
 background-color:#070219
    }
  }
  .sth-background2 {
    background-image: url("images/sth22.jpeg"); 
     
     background-size: cover;
     background-repeat: no-repeat;
     width: 1440px;
     height: 90vh; 
     /* padding: 0.5rem calc((100vw - 1000px)/2); */
     } 

